<div id="directive">

        <h1 beauty>自定义属性指令</h1>
        <br>
        <h1 [beauty-input]="'red'">指定绑定输入</h1>
        <br>
        <h1 [myHighlight]="'blue'">自定义指令响应用户操作</h1>
        <br>
        <h1>访问组件内容 渲染组件内容</h1>

        <!-- false 显示
        -->
        <p *myUnless="boolValue">
            false
        </p>
        <!--true 显示-->
        <p *myUnless="!boolValue">
            true
        </p>

      <!--<div class="form-group">
                <label for="startDate">{date.startDate}</label>

                <input
                dateRangePicker
                [dateRangePickerOptions]="option"
                (selected)="dateSelected($event)"
                type="text"
                class="form-control"/>
     </div>-->


</div>
<br>
<div id="pipe">
    <p class="{{isTrue | boolean }}">测试管道</p>
    <!--<input type="checkbox" name="isTrue" value="isTrue" id="isTrue"
     (change)="onChange($event)">-->
     <!-- 单个值 双向数据绑定-->
     <input type="checkbox" [checked]="isTrue" name="isTrue"  id="isTrue"(change)="onChange()" >
     <label for="isTrue">{{isTrue}}</label>
</div>
<br>
  <h1>checkbox 双向数据绑定</h1>
   <form  #loginForm="ngForm" (ngSubmit)="onSubmit($event)">
        <div id="checkbox" *ngFor="let item of testArry">
                <ul [ngSwitch]='item'>
                    <li *ngSwitchCase="'46'" class='text-success'>
                        <input type="checkbox" checked="isChecked" name="action"
                        (change)="onChange()" value="46"  >
                        <label>新建 </label>
                    </li>
                    <li *ngSwitchCase="'47'" class='text-secondary'>
                        <input type="checkbox" checked="isChecked"  name="action"  (change)="onChange()"
                        value="47"  >
                        <label>删除</label>
                    </li>
                    <li *ngSwitchCase="'48'" class='text-primary'>
                        <input type="checkbox" checked="isChecked" name="action"  (change)="onChange()"
                        value="48"  >
                        <label>编辑</label>
                    </li>
                </ul>
        </div>
        <button type="submit">提交</button>
  </form>
    <!--<input type="checkbox"  name="item"  (change)="onChange()" value="">
     <label>{{isTrue}}</label>-->
<!--</div>-->


